<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.prj.catlog.Categories"/>
      <class name="baseClass.TestBase"/>
      <class name="com.prj.design.Design"/>
      <class name="com.prj.extension.Marketplace"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
